 <html ng-app="minhaApp">
  <head>
  	    <meta charset="UTF-8" /> 
        <title> Angular Lab </title>
         <script src="angular.min.js"></script>
         <script src="app.js"></script>
     </head>
   <body ng-controller="OlaCtrl">
    	 
    	<hr/>
    	<table width="40%">
          <tr>
          	  <th> Nome </th> <th> idade </th> <th> email </th>
          </tr>
          <tr>
             <td>  {{ nome }}     </td>
              <td> {{ idade }}    </td> 
              <th> {{ email }}   </td>
          </tr>

    	</table> 

       <ul ng-controller="nacoesCtrl" >
       	    <li ng-repeat="pais in nacoes">
                 {{ pais.nome}}   
 
             </li>
       </ul>
       <hr>
       <h3> Documentos </h3>
       <table width="40%" ng-controller="DocsCtrl"  >
         <tr ng-repeat=" doc in documento" >
               <td> <input type="checkbox"> </td>
               <td  >   {{ doc.titulo }} </td> 
               <td> <a href="www.teste.com/{{ doc.url }}"> download </a>   </td>
               <td> <input type="button" value="{{ doc.id }}" id="" class="btoAction" > </td>
         </tr>
       </ul>

    </body>
 </html>